@use '../../../../_breakpoints' as bp;

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar-img {
    border-radius: 50%;
  }
}


.timeline {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  &.md {
    max-width: 700px;

    @include bp.until(md) {
      max-width: 100%;
    }
  }
}

h4 {
  text-align: center;
}

.row-custom {
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @include bp.until(md) {
    flex-direction: column-reverse;
    width: fit-content;
  }

  &:last-child {
    padding-bottom: 0.5rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.center {
    align-items: center;
  }

  &.sm {
    width: 30%;
  }
  &.md {
    width: 70%;
  }
  &.full {
    width: 100%;
  }

  &.sm,
  &.md {
    @include bp.until(md) {
      width: 100%;
    }
  }

  &.transf-col {
    @include bp.until(md) {
      flex-direction: row;
      justify-content: center;
      cv-extra-card-ui {
        width: 100%;
      }
    }
  }

  .overview-wrapper {
    margin-top: 36.25px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include bp.until(md) {
      margin-top: 0px;
      width: 100%;
    }
  }
}
