<header>
  <nav class="navbar fixed-top">
    <div
			class="toolbar"
			role="banner"
		>
      <div class="nav-links">
				@let isMobile = isMobile$ | async;
				<ng-container *ngTemplateOutlet="navLinkRef; context: {
					text: ('navbar.home' | translate), route: '/home', icon: 'home', isMobile
				}" />
				<ng-container *ngTemplateOutlet="navLinkRef; context: {
					text: ('navbar.about' | translate), route: '/about', icon: 'person', isMobile
				}" />
				<ng-container *ngTemplateOutlet="navLinkRef; context: {
					text: ('navbar.skills' | translate), route: '/skills', icon: 'construction', isMobile
				}" />
				<ng-container *ngTemplateOutlet="navLinkRef; context: {
					text: 'CV', route: '/cv', icon: 'list_alt', ariaLabel: 'Curriculum Vitae', isMobile
				}" />
      </div>

      <div class="toolbar-right">
        <button
          cdkOverlayOrigin
          #triggerBtn="cdkOverlayOrigin"
          mat-icon-button
          [matTooltip]="'navbar.settings.title' | translate"
          type="button"
          aria-label="Open settings panel"
          (click)="isSettingsPanelOpened = !isSettingsPanelOpened"
        >
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </nav>
</header>

<ng-template #navLinkRef let-route="route" let-text="text" let-icon="icon" let-ariaLabel="ariaLabel" let-isMobile="isMobile">
  <a
		mat-stroked-button
		[attr.aria-label]="ariaLabel ?? text"
		[routerLink]="[route]"
		[routerLinkActive]="'active-link'"
		[matTooltip]="isMobile ? text : undefined"
	>
		<mat-icon>{{ icon }}</mat-icon>
		<span class="nav-link-text">{{ text }}</span>
	</a>
</ng-template>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="triggerBtn"
  [cdkConnectedOverlayOpen]="isSettingsPanelOpened"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="isSettingsPanelOpened = false"
	(overlayOutsideClick)="isSettingsPanelOpened = false"
  (detach)="isSettingsPanelOpened = false"
>
  <div class="settings-panel">
		@let settingsTitle = ('navbar.settings.title' | translate);
		<span
			[attr.aria-label]="settingsTitle"
			role="heading"
			class="settings-title"
		>{{ settingsTitle }}</span>
		<mat-divider />
		<div class="field-container">
			<mat-form-field [appearance]="'outline'">
				<mat-label>{{ ('navbar.settings.langSelect.label' | translate) }}</mat-label>
				<mat-select [formControl]="languageControl">
					@for (item of (langOptions$ | async); track item.value) {
						<mat-option [value]="item.value">{{ item.label }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field [appearance]="'outline'">
				<mat-label>{{ ('navbar.settings.themeSelect.label' | translate) }}</mat-label>
				<mat-select [formControl]="themeControl">
					@for (item of (themeOptions$ | async); track item.value) {
						<mat-option [value]="item.value">{{ item.label }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
		</div>
	</div>
</ng-template>
