<mat-card appearance="outlined">
  <mat-card-header class="custom-card-header" (click)="onExpand()">
    <mat-card-title>
      @if (experience()?.Title; as title) {
        <span>
          {{ title | translate }}
        </span>
        @if (experience()?.type; as type) {
          <span class="educ-type">
            [{{ type }}]
          </span>
        }
      } @else {
        <app-skeleton-loader-ui
          [ngStyle]="{'display': 'block'}"
          height="21px"
          width="200px"
        />
      }
    </mat-card-title>
    <mat-card-subtitle>
      <div class="custom-card-subtitle">
        @if (experience()?.Subtitle; as subtitle) {
          <span>{{ subtitle }}</span>
        } @else {
          <app-skeleton-loader-ui
            [ngStyle]="{'margin-top': '0.5rem'}"
            height="21px"
            width="200px"
          />
        }
        @if (!experience()?.From) {
          <app-skeleton-loader-ui
            [ngStyle]="{'margin-top': '0.5rem'}"
            height="21px"
            width="200px"
          />
        } @else {
          <span>
            {{ experience()?.From + " - " + (experience()?.To ?? "Present") + (!!experience()?.hours ? ' (' + experience()?.hours + ' ' + ('cv.hours' | translate) + ')' : '' ) }}
          </span>
        }
      </div>
    </mat-card-subtitle>
    @if (experience()?.LogoUrl; as url) {
      <img
        [ngSrc]="experience()?.LogoUrl ?? ''"
        alt="Image"
        class="company-logo"
        [height]="80"
        [width]="80"
      />
    } @else {
      <app-skeleton-loader-ui
        type="avatar"
        width="80px"
        height="80px"
      />
    }
  </mat-card-header>
  <mat-card-content>
    <div class="collapsible" [@collapse]="!showDetails">
      <hr />
      <p>
        <!-- up next -->
        @if (isEducation()) {
          {{ experience()?.Description }}
        } @else {
          {{ experience()?.Description! | translate }}
        } 
      </p>
      <p *ngIf="experience()?.Tech || experience()?.stack">
        <strong>Stack:</strong>
        {{ experience()?.Tech ?? experience()?.stack }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      type="button"
      [disabled]="!experience()"
      mat-stroked-button
      (click)="onExpand()"
    >
      <mat-icon *ngIf="!showDetails">expand_more</mat-icon>
      <mat-icon *ngIf="showDetails">expand_less</mat-icon>
      {{ (showDetails ? "cv.buttons.details.expanded" : "cv.buttons.details.hidden") | translate }}
    </button>
  </mat-card-actions>
</mat-card>