.mat-mdc-card-header-text {
  width: 100% !important;
}

.educ-type {
  font-style: italic;
}

.collapsible {
  overflow: hidden;
}

.custom-card-header {
  cursor: pointer;
  justify-content: space-between;
}

.custom-card-subtitle {
  display: flex;
  flex-direction: column;
}

.company-logo {
  border-radius: 12px;
  background-color: var(--bg-img-color);
}

.mdc-card {
  :last-child {
    margin-top: 0.3rem;
  }
}
