<div class="container-fluid seccion">
  <div class="row mt-5">
    <div class="col">
      <h1 class="text-center">{{ 'about.title' | translate }}</h1>
    </div>
  </div>
  <hr>
  <div class="contenedor" @fadeIn>
    <div class="columna img-section">
      <div class="imagen-botones">
        <img
          alt="image"
          src="assets/images/profile-pic.jpg"
          [height]="300"
          [width]="300"
        />
        <div class="img-btn-area">
          <a
            mat-fab
            color="primary"
            href="https://www.linkedin.com/in/lautarobernati/"
            target="_blank"
            type="button"
          >
            <fa-icon
              size="2x"
              [icon]="faLinkedinIn"
            ></fa-icon>
          </a>
          <a
            mat-fab
            color="primary"
            href="https://github.com/LautaroBernati"
            target="_blank"
            type="button"
          >
            <fa-icon
              size="2x"
              [icon]="faGithub"
            ></fa-icon>
          </a>
        </div>
      </div>
    </div>
    @let aboutData = (about$ | async);
    @let showMore = (showFullContent$ | async);
    <div class="columna desc-section">
      <h2 [translate]="'about.personalTitle'"></h2>
      <h3 [translate]="'about.personalSubtitle'"></h3>
      <section>
        <div *ngIf="('about.intro' | translate).toString() as text">
          <p>
            <span
              [innerHTML]="curateText(text) | slice: 0:(showMore ? undefined : 350)"
            ></span>
            <span *ngIf="!showMore">...</span>
            &nbsp;
            <button
              class="more-btn"
              type="button"
              (click)="onToggleReadBtn()"
            >
              @if (aboutData?.moreButtonText; as btnText) {
                {{ btnText }}
              } @else {
                <app-skeleton-loader-ui height="23px" width="50px" />
              }
            </button>
          </p>
        </div>
      </section>
      <div class="items-cv">
        <ul>
          <li>
            <fa-icon [icon]="faBirthdayCake" [border]="false"></fa-icon>
            <strong>{{ birthday | date: 'dd-MM-YYYY' }} {{ '(' + calculateAge(birthday) }} {{ ('about.items.years' | translate) + ')' }}</strong>
          </li>
          <li>
            <fa-icon [icon]="faEnvelope" [border]="false"></fa-icon>
            <strong>
              <a href="mailto:lautarobernati@gmail.com">lautarobernati&#64;gmail.com</a>
            </strong>
          </li>
          <li>
            <fa-icon [icon]="faMapMarker" [border]="false"></fa-icon>
            @if (aboutData?.country; as country) {
              <strong>
                {{ aboutData?.country }}
              </strong>
            } @else {
                <app-skeleton-loader-ui height="24px" width="70px" />
            }
          </li>
        </ul>
        <ul>
          <li>
            <fa-icon [icon]="atomIcon"></fa-icon>
            <strong>{{ 'about.items.growth' | translate }}</strong>
          </li>
          <li>
            <fa-icon [icon]="capIcon"></fa-icon>
            <strong>{{ 'about.items.diploma' | translate }}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingImage>
  <mat-spinner
    class="spinner"
    [mode]="'indeterminate'"
  ></mat-spinner>
</ng-template>