.ng-fa-icon {
  min-width: 2.5rem;
  color: orange;
}

li {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none
}

.items-cv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  @media screen and (max-width: 440px) {
    flex-direction: column;
    justify-content: center;
  }
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: 440px) {
    flex-direction: column;
    justify-content: center;
  }
}

.imagen-botones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  img {
    border-radius: 0.5rem;
  }

  .img-btn-area {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
  }
}

.columna {
  padding: 2rem;
  justify-items: center;

  &.img-section {
    width: 35%;
  }

  &.desc-section {
    width: 65%;
  }

  h2, h3 {
    justify-self: flex-start;
  }

  p {
    text-align: justify;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 0.5rem;

    h2, h3 {
      justify-self: auto;
    }

    &.img-section {
      width: 100%;
    }

    &.desc-section {
      width: 100%;
    }
  }
}

.spinner {
  max-width: 5rem;
  max-height: 5rem;
  margin: 1rem;
}


