@use 'breakpoints' as bp;

.ng-fa-icon {
  min-width: 2.5rem;
  color: orange;
}

.about-description {
  padding: 0.5rem;
}

footer {
  padding: 24px 16px;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
  border-top: 1px solid #eee;
}

.row-custom {
  display: flex;
  gap: 1rem;

  @include bp.until(md) {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

.items-cv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  @media screen and (max-width: 440px) {
    flex-direction: column;
    justify-content: center;
  }
}

.spinner {
  max-width: 5rem;
  max-height: 5rem;
  margin: 1rem;
}


