@use '../../../../_breakpoints' as bp;

.tab-container-v2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-header-icon {
  margin-right: 0.5rem;
}

.tab-detail-container {
  margin-top: 0.5rem;
}

.tool-detail-container {
  width: 95%;
  padding: 1rem;

  @include bp.from(md) {
    width: 75%;
  }
}

.tab-container {
  padding: 1px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
