<mat-tab-group [preserveContent]="true" @fadeIn>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 10px;">panorama</mat-icon>
      Front End
    </ng-template>
    <!-- start front end -->
    <ng-template matTabContent>
      <div style="padding: 10px;">
        @if (frontEndSkills(); as frontEndSkills) {
          @for (item of frontEndSkills; track $index) {
            <div style="margin-top: 0.5rem;">
              <sk-tab-detail-ui
                [expanded]="$index === 0"
                [skill]="item"
              />
            </div>
          }
        } @else {
          <div>
            <sk-tab-detail-ui
              [expanded]="true"
              [loading]="true"
            />
          </div>
        }
      </div>
    </ng-template>
    <!-- end front end -->
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 10px;">http</mat-icon>
      Back End
    </ng-template>
    <!-- start backend content -->
    <div style="padding: 10px;">
      @if (backEndSkills(); as skills) {
          @for (item of skills; track $index) {
            <div style="margin-top: 0.5rem;">
              <sk-tab-detail-ui
                [expanded]="$index === 0"
                [skill]="item"
              />
            </div>
          }
        } @else {
          <div>
            <sk-tab-detail-ui
              [expanded]="true"
              [loading]="true"
            />
          </div>
        }
    </div>
    <!-- end backend content -->
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 10px;">build</mat-icon>
      <div>{{ 'skills.tabs.tools' | translate }}</div>
    </ng-template>
    <div class="tab-container-v2">
      <div *ngFor="let item of tools()" style="width: 55%; padding: 1rem;">
        <sk-tool-met-detail-ui [item]="item">
        </sk-tool-met-detail-ui>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 10px;">whatshot</mat-icon>
      <div>{{ 'skills.tabs.metds' | translate }}</div>
    </ng-template>
    <div class="tab-container-v2">
      <div *ngFor="let item of methodologies()" style="width: 55%; padding: 1rem;">
        <sk-tool-met-detail-ui [item]="item">
        </sk-tool-met-detail-ui>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>