@defer (on viewport) {
  <div class="container-fluid seccion">
    <div class="row mt-5">
      <div class="col">
        <h1 class="text-center">
          {{ 'skills.title' | translate }}
        </h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        @let dependencies = (dependencies$ | async);
        <ng-container>
          <sk-tabs-ui
            [backEndSkills]="dependencies?.[1]"
            [frontEndSkills]="dependencies?.[0]"
            [loading]="!dependencies"
            [playgroundFiles]="PLAYGROUND_FILES"
            [tools]="dependencies?.[2]"
            [methodologies]="dependencies?.[3]"
          />
        </ng-container>
      </div>
    </div>
  </div>
} @placeholder {
  <div class="page-placeholder">
    <mat-spinner mode="indeterminate" />
  </div>
}
