<div class="container seccion">
  <div class="row mt-5">
    <div class="col">
      <h1 class="text-center">Skills</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      @let dependencies = (dependencies$ | async);
      <ng-container>
        <sk-tabs-ui
          [loading]="!dependencies"
          [frontEndSkills]="dependencies?.[0]"
          [backEndSkills]="dependencies?.[1]"
          [tools]="dependencies?.[2]"
          [methodologies]="dependencies?.[3]">
        </sk-tabs-ui>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <div style="display: flex; justify-content: center; align-items: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>