<mat-accordion>
  <mat-expansion-panel [expanded]="expanded()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        @if (loading()) {
          <app-skeleton-loader-ui
            height="20px"
            width="60px"
          />
        } @else {
          {{ skill()?.Framework }}
        }
      </mat-panel-title>
      <mat-panel-description>
        <div class="panel-description-container">
          @if (!loading()) {
            <h3 style="margin-bottom: 0px;">{{ 'skills.progressTitle' | translate }}</h3>
            <mat-progress-bar
              [bufferValue]="100"
              [ngStyle]="{'--mdc-linear-progress-active-indicator-color': getColor(skill()?.Progress ?? 0)}"
              [mode]="'determinate'"
              [value]="skill()?.Progress"
            />
          } @else {
            <app-skeleton-loader-ui height="30px" width="35%"/>
          }
        </div>
        @if (!loading()) {
          <fa-icon
            [icon]="skill()!.Icon"
            size="2x"
          />
        } @else {
          <app-skeleton-loader-ui type="icon-button" />
        }
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Content Start -->
    @if (loading()) {
      <div class="contenedor">
        <div class="card-header-detail">
          <!-- info title -->
          <app-skeleton-loader-ui
            width="15%"
            height="37px"
          />
          <!-- info title end -->
          <!-- info type -->
          <app-skeleton-loader-ui
            width="10%"
            height="37px"
          />
          <!-- info type end -->
        </div>
        <div class="card-desc-detail">
          <!-- paragraph -->
          <app-skeleton-loader-ui
            height="140px"
            width="35%"
          />
          <!-- paragraph end -->
          <!-- image -->
          <app-skeleton-loader-ui
            height="140px"
            width="35%"
          />
          <!-- image end -->
        </div>
        @let isMobile = (isMobile$ | async);
        <div class="btn-area">
          <app-skeleton-loader-ui
            [width]="isMobile ? '35%' : '110px'"
            height="37px"
          />
          <app-skeleton-loader-ui
            [width]="isMobile ? '32%' : '110px'"
            height="37px"
          />
        </div>
      </div>
    }
    @if (skill(); as skill) {
      @let maxTextLength = (maxLength$ | async)!;
      <div class="example-container">
        @for (item of skill.Examples; track $index) {
          <div class="contenedor">
            <div class="card-header-detail">
              <h2>{{ item.Title }}</h2>
              <small>{{ item.Type | translate }}</small>
            </div>
            <div class="card-desc-detail">
              <p>
                @let text = (item.Desc | translate);
                {{ text | slice: 0:(item.showMore ? undefined : maxTextLength) }}
                @if (!item.showMore && text.length > maxTextLength) {
                  ...
                }
                @if (text.length > maxTextLength) {
                  &nbsp;
                  <button
                    class="more-btn"
                    type="button"
                    (click)="item.showMore = !item.showMore"
                  >
                    @if (item.showMore) {
                      {{ 'skills.buttons.showLess' | translate }}
                    } @else {
                      {{ 'skills.buttons.showMore' | translate }}
                    }
                  </button>
                }
              </p>
              <img
                #ref
                [src]="(item.ImgUrl)"
                alt="imageOfExample"
                (click)="onImgClick(item.ImgUrl, ref.naturalWidth, ref.naturalHeight)"
              />
            </div>
            <ng-container *ngIf="item.Urls">
              <div class="btn-area">
                <ng-container *ngIf="item.Urls.Repository">
                  <a
                    class="btn-tertiary"
                    role="button"
                    type="button"
                    mat-stroked-button
                    [href]="item.Urls.Repository"
                    target="_blank"
                  >
                    <mat-icon>code</mat-icon>
                    <div>{{ 'skills.buttons.repo' | translate }}</div>
                  </a>
                </ng-container>
                <ng-container *ngIf="item.Urls.Deployment">
                  <a
                    class="btn-tertiary"
                    role="button"
                    type="button"
                    mat-stroked-button
                    [href]="item.Urls.Deployment"
                    target="_blank"
                  >
                    <mat-icon>launch</mat-icon>
                    <div>{{ 'skills.buttons.deploy' | translate }}</div>
                  </a>
                </ng-container>
              </div>
            </ng-container>
          </div>
        }
      </div>
    }
    <!-- Content End -->
  </mat-expansion-panel>
</mat-accordion>