@use '@angular/material' as mat;
@use 'theme-config' as config;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
      tertiary: mat.$violet-palette
    ),
    typography: (
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$orange-palette,
      tertiary: mat.$rose-palette,
    ),
    typography: (
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($light-theme);
}

.dark-mode {
  @include mat.all-component-colors($dark-theme);
}

:root {
  --primary-color: #{mat.get-theme-color($light-theme, primary)};
}

.dark-mode {
  --primary-color: #{mat.get-theme-color($dark-theme, primary)};
}
