html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ng-animating .mat-accordion .mat-expansion-panel .mat-expansion-panel-content {
  height: 0px;
  visibility: hidden;
}

.seccion {
  padding-top: 64px;
}

.more-btn {
  background: none;
  font-size: .875em;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  font-style: italic;
}

:root {
  --nav-bg: #b5d5ff;
  --nav-fg: #ffffff;
}

.dark-mode {
  --nav-bg: #0f1f35;
  --nav-fg: #ffffff;
}
