@use '@angular/material' as mat;
@use './theme-config' as config;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  padding-top: 2.5rem !important;
}

.page-placeholder {
  height: 100dvh;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.ng-animating .mat-accordion .mat-expansion-panel .mat-expansion-panel-content {
  height: 0px;
  visibility: hidden;
}

.seccion {
  padding-top: 64px;
}

.more-btn {
  background: none;
  font-size: .875em;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  font-style: italic;
}

:root {
  --nav-bg: #ffe6cd;
  --nav-fg: #ffffff;
}

.dark-mode {
  --nav-bg: #432600;
  --nav-fg: #ffffff;
}

.btn-tertiary {
  @include mat.button-color(config.$light-theme, $color-variant: tertiary);
}

.dark-mode .btn-tertiary {
  @include mat.button-color(config.$dark-theme, $color-variant: tertiary);
}

:root {
  --surface-container-high: #{mat.get-theme-color(config.$light-theme, surface-container-high)};
  --bg-img-color: #e0e0e0;
}

.dark-mode {
  --surface-container-high: #{mat.get-theme-color(config.$dark-theme, surface-container-high)};
  --bg-img-color: #b9b9b9;
}
