@use 'breakpoints' as bp;

.fade-in {
  opacity: 0;
  animation: fadeIn 1.9s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.imagen-botones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  img {
    border-radius: 50%;
    height: 200px;
    width: 200px;

    @include bp.from(sm) {
      height: 300px;
      width: 300px;
    }
  }

  .img-btn-area {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
  }
}

.full-content {
  min-height: 100dvh;
}

.contenedor {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;

  @include bp.from(sm) {
    flex-direction: row;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
}

.columna {
  justify-items: center;

  p {
    text-align: justify;
  }

  width: 100%;
  padding: 0.5rem;

  h2,
  h3 {
    justify-self: auto;
  }

  &.img-section {
    width: 100%;
  }

  &.desc-section {
    width: 100%;
  }
}

.tipeos-container {
  margin-top: auto;

  .tipeo {
    padding: 0.5rem;
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
    padding-bottom: 4px;
    letter-spacing: 1px;

    @include bp.from(sm) {
      font-size: 45px;
    }

    @include bp.from(md) {
      font-size: 65px;
    }

    &.tipeo-2 {
      font-size: 14px;

      @include bp.from(sm) {
        font-size: 24px;
      }

      @include bp.from(md) {
        font-size: 30px;
      }
    }
  }
}